<!DOCTYPE html>
<html>
<head>
  <title>RailsWebserver</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1 id="title">GitPerform</h1>
<%= yield %>

<div id="iluuval">
	<a href="http://www.w3.org/QA/Tools/Donate"><img src="http://www.w3.org/QA/Tools/I_heart_validator_lg" width="101" height="46" alt="I heart Validator" title="W3C Validator Donation Program" /></a>
</div>
</body>
</html>
