<div id="content">
	<div id="userGroup">
		<% @repos.each do |user|%>
			<div class="user" id="<%= user.user %>">
				<%= user.user %>
			</div>
		<%end%>
	</div>
	<div id="add">
		<input type="text"/>
		<button>Add</button>
	</div>
</div>